# Auto detect text files and perform LF normalization
* text=auto
Data[[:space:]](20230918)/Pedestrian_Counting_System_Monthly_counts_per_hour_may_2009_to_14_dec_2022.csv filter=lfs diff=lfs merge=lfs -text
